<h1>Scholastic Most Popular Books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN10</th>
    <th>ISBN13</th>
    <th>Rank</th>

  </tr>
<% @books.each do |book| %>
  <tr>

    <td class='title'><%= book.title.truncate(65) %></td>
    <td class='author'><%= book.author %></td>
    <td class='isbn10'><%= book.isbn10 %></td>
    <td class='isbn13'><%= book.isbn13 %></td>
    <td class='rank'><%= book.rank %></td>

    <% end %>
  </tr>
</table>